
<div class="all">
      <div class="container  pt-5">
       
        <div>
        <h1 class="text-center" >  <strong>Welcome to Github</strong>  </h1>
        </div>
        
        <div>
          <h2> <em>Where the world builds software</em> </h2>
          <p>Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and most advanced development platform in the world.</p>
        </div>
        
        
        <div>
        <p>65+ million
         <em>Developers</em> </p>
        
          <p>3+ million
        <em>Organizations</em> </p>
        
            <p>
              200+ million
       <em>Repositories</em> 
            </p>
        
            <p>72%
          <em> Fortune 50 </em>  </p>
        
        
        </div>
        
        
        </div>
        
    </div>


  
