
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#Home"><h2> <em>GitSearch</em>   </h2></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav menu-left">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>